$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"; // bower:scss
 @import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
 // endbower
@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html {
  height: 100%;
}
body {
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
md-content.content-wrapper {
  height: 100%;
}
.sidebar {
  .profile-wrapper .profile-image {
    width: 150px;
    height: 150px;
    @include border-radius(100%);
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px;
  }
  .profile-wrapper .md-subhead {
    margin: 0 20px 20px;
    text-align: center;
    display: block;
  }
  md-menu-divider {
    border-bottom: solid #DDD 1px;
  }
  md-content,
  md-menu-content {
    margin: 0;
    padding: 0;
  }
}
.search-bar-container {
  md-input-container {
    width: 100%;
    label {
      color: white !important;
      opacity: 0.5 !important;
      font-size: 0.8em !important;
    }
    input {
      width: 100%;
      margin-top: -8px !important;
    }
  }
}

.sentiment-icon{
  width:100px !important;
}

.details-container {



  #horizontal-container {
    height: 200px;
  }
  .provider-item {
    width: 120%;
    overflow-x: visible;
  }
  .repeated-item {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    padding-top: 35px;
    text-align: center;
    width: 100%;
    background-size: cover;
  }
  .md-virtual-repeat-offsetter {
    width: 100% !important;
  }
  md-virtual-repeat-container {
    border: solid 1px grey;
  }
  background-color: #DDD;
  p {
    text-align: justify;
  }
  .join-button-wrapper {
    text-align: center;
    .md-button {
      display: inline-block;
    }
  }
  .favorited {
    color: #F55;
  }
  .md-card-image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .score-wrapper {
    margin-bottom: 20px;
    padding-top: 10px;
    .score-bar-wrapper {
      float: left;
      width: 100%;
    }
    .score-bar-label-left {
      display: inline-block;
      float: left;
    }
    .score-bar-label-right {
      display: inline-block;
      float: right;
    }
    .score-bar-title {
      display: block;
      text-align: center;
    }
  }
  .keyword-wrapper {
    text-align: center;
    .keyword {
      -moz-user-select: none;
      align-items: center;
      background: transparent none repeat scroll 0 0;
      border: 0 none;
      border-radius: 3px;
      box-sizing: border-box;
      color: currentcolor;
      display: inline-block;
      font-family: inherit;
      font-size: 14px;
      font-style: inherit;
      font-variant: inherit;
      font-weight: 500;
      line-height: 36px;
      margin: 6px 8px;
      min-height: 36px;
      min-width: 88px;
      outline: medium none;
      overflow: hidden;
      padding: 0 6px;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s, background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
      white-space: nowrap;
      letter-spacing: 0.01em;
      background-color: rgb(63, 81, 181);
      color: rgba(255, 255, 255, 0.87);
    }
  }
  .days-wrapper {
    text-align: center;
    md-divider {
      margin-bottom: 40px;
      margin-top: 40px;
    }
    .day {
      margin: 10px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      @include border-radius(50%);
      border: solid rgb(63, 81, 181) 1px;
      color: rgb(63, 81, 181);
    }
    .day-active {
      background-color: rgb(63, 81, 181);
      color: #fff;
      font-weight: bold;
    }
    .md-subhead {
      display: block;
    }
  }
  .days-time {
    display: block;
    margin: 10px;
    font-weight: bold;
  }
  .score-bar-wrapper {
    margin-bottom: 20px;
  }
  .score-bar-title {
    font-weight: bold;
  }
  .price-container {
    text-align: center;
    width: 100%;
    .price {
      background: rgb(224,224,224);
      color: rgb(66,66,66);
      cursor: default;
      border-radius: 16px;
      display: inline-block;
      margin: 8px 8px 0 0;
      padding: 0 12px;
      box-sizing: border-box;
      max-width: 100%;
      position: relative;
      font-size: 3em;
      margin: 0 auto;
      text-align: center;
    }
  }
}
#login-container {
  position: relative;
  height: 100%;
  //background-image: url("http://kineticperformance.es/wp-content/uploads/2015/03/UA-060115-IMG_0801-resize.jpg");
  background-image: url("http://www.efeagro.com/wp-content/blogs.dir/2/files_mf/cache/th_a42a72a425c164dd4407cbac84a3d92a_CAMPUS-OCTUBRE-2013-92072.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-align: center;
  #login-logo {
    position: relative;
    width: 100%;
    padding: 3em;
  }
  #login-button {
    position: absolute;
    bottom: 50px;
    background-color: rgba(250,250,250,0.6);
    padding: 5px;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
#main-container {
  background-color: #DDD;
  min-height: 100%;
  .fail-search {
    color: #666;
    text-align: center;
    padding-top: 50px;
  }
  md-card-title {
    padding: 5px !important;
  }
  .md-card-image {
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

// comments
.comments-container {
  background-color: #DDD;
  p {
    text-align: justify;
  }
  md-card .md-card-image {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

#community-container {
  .community-switch {
    text-align: right;
    position: relative !important;
  }
}
#profile-container {
  background-color: #DDDDDD;
  min-height: 100%;
  .profile-wrapper .profile-image {
    width: 150px;
    height: 150px;
    @include border-radius(100%);
    margin: 30px auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 150px;
  }
}
#about-container {
  background-color: #DDDDDD;
  min-height: 100%;
  .profile-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 250px 185px;
  }
}
#register-container {
  .instruction {
    text-align: justify;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    font-family: Helvetica Neue, Helvetica, Arial;
    line-height: 1;
  }
  background-color: #DDDDDD;
  min-height: 100%;
}
.search-nav-ba .search-nav-bar {
  background-color: #FFF;
  md-icon {
    color: #444 !important;
  }
  input {
    color: #444 !important;
  }
}

md-menu-item > .md-button{
  display:block !important;
}
