<section class="sidebar-wrapper" layout="row" flex ng-controller="SideBarCtrl as sidebarCtrl">
  <md-sidenav class="sidebar md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar>
      <div class="profile-wrapper">
        <div class="profile-image" back-img="{{sidebarCtrl.model.profilePhoto}}"></div>
        <span class="md-subhead">{{sidebarCtrl.model.email}}</span>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <md-menu-content width="4">
        <md-menu-item ng-click="sidebarCtrl.home()">
          <md-button>
            <md-icon md-font-set="material-icons">home</md-icon>
            Inicio
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button>
            <md-icon md-font-set="material-icons">directions_bike</md-icon>
            Mis actividades
          </md-button>
        </md-menu-item>
        <md-menu-item ng-click="sidebarCtrl.community()">
          <md-button>
            <md-icon md-font-set="material-icons">people</md-icon>
            Comunidad
          </md-button>
        </md-menu-item>
        <md-menu-item ng-click="sidebarCtrl.profile()">
          <md-button>
            <md-icon md-font-set="material-icons">face</md-icon>
            Perfil
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item ng-click="sidebarCtrl.exit()">
          <md-button>
            <md-icon md-font-set="material-icons">exit_to_app</md-icon>
            Salir
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-content>
  </md-sidenav>
</section>
