<div flex-xs layout="column" id="main-container" ng-init="main.showNavBar()">
  <md-card ng-repeat="activity in main.activities | filter:{title: main.filter}">
    <div ng-style="{'background-image': 'url({{activity.image}})'}" class="md-card-image"></div>
    <md-card-title>
      <md-card-title-text>
        <div layout="row">
          <div flex>
            <span class="md-headline">{{activity.title}}</span>
          </div>
          <div flex style="text-align: right;">
            <span >
              <md-button class="md-icon-button" aria-label="Share" ng-click="main.showDetailView(activity.id)">
                <md-icon md-font-set="material-icons">remove_red_eye</md-icon>
              </md-button>
            </span>
          </div>
        </div>
      </md-card-title-text>
    </md-card-title>
  </md-card>
</div>
